
form {
    overflow: hidden;
}

.form-row {
    transition: margin .5s ease-in-out;
}

.table {
    margin-bottom: 0;
}

.scroll {
    overflow: auto;
}

.table-image {
    height: 100px;
}

.page-link {
    cursor: pointer;
}
