body {
    margin: 0;
}

.slider {
    display: flex;
    flex-wrap: nowrap;
    font-size: 0;
    overflow: hidden;
}

.slider__title {
    position: absolute;
    font-size: 40px;
    font-weight: bold;
}

.slider__title_small {
    position: relative;
}

.slider__item {
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    min-width: calc(100% / 3);
    padding: 60px 10px 0;
    box-sizing: border-box;
    font-size: 1rem;
    transition: margin, 1s;
}

.slider__image {
    display: flex;
    overflow: hidden;
}

.slider__picture {
    width: 100%;
    align-self: center;
}